<!-- header section -->
<header class="w-full h-max items-cente">
    <nav class="px-2 bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
      <div class="container h-[80px] flex flex-row items-center justify-between mx-auto">
        <a href="#" class="flex items-center ml-10">
          <img src="../../../assets/svg/logo_main_white.svg" class="w-24 mr-3 sm:h-10 hidden dark:flex"
            alt="binkio Logo" />
          <img src="../../../assets/svg/logo_main.svg" class="w-24 mr-3 sm:h-10 dark:hidden" alt="binkio Logo" />
        </a>
        <button data-collapse-toggle="navbar-dropdown" type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
          <ul
            class="flex flex-col justify-center items-center p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a href="#"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-white dark:bg-blue-600 md:dark:bg-transparent"
                aria-current="page">Home</a>
            </li>
            <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Binkio
                <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg></button>
              <!-- Dropdown menu -->
              <div id="dropdownNavbar"
                class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                  </li>
                  <li>
                    <a href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                  </li>
                </ul>
                <div class="py-1">
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Sign
                    out</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#"
                class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About
                Us</a>
            </li>
            <li>
              <a href="#"
                class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
            </li>
            <li>
              <a href="" class="flex justify-center items-center w-28 h-10 rounded-tl-full rounded-br-full text-white bg-[#1F00E0]">
                login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- banner section -->
  <div class="container min-h-[85vh] py-20 items-center justify-center max-w-full mx-auto overflow-x-hidden">
    <div class="container flex flex-wrap mx-auto items-center justify-center gap-44 mb-16 max-lg:gap-20">
      <div class="flex w-auto m-0 justify-center items-center bg-white">
        <div class="flex flex-col w-[400px] h-max mx-auto max-md:px-10 max-md:text-center">
          <section class="flex gap-2 items-center my-4 max-md:justify-center">
            <img src="../../../assets/svg/logo_main_black.svg" alt="">
            <img src="../../../assets/svg/hublock.svg" alt="">
          </section>
          <section>
            <h1>
              <span class="text-2xl font-medium">
                Rompiendo la barrera entre las bienes raices y el metaverso
              </span>
            </h1>
            <p>
              Binkio trae a la mesa la mezcla perfecta
              entre tecnología y lgs legales para
              cualquier transacción; de tal forma que
              tus cryptos valen donde sea
            </p>
          </section>
          <section class="flex flex-row gap-2 mt-10 text-white">
            <a href="" class="flex min-w-[141px] px-4 h-[40px] rounded-full bg-[#1F00E0] justify-center items-center">Mas
              Informacion</a>
            <a href=""
              class="flex min-w-[141px] px-4 h-[40px] rounded-full bg-[#1F00E0] justify-center items-center">explorar</a>
          </section>
        </div>
      </div>
      <div class="flex flex-col w-auto m-0 h-max justify-center items-center pb-10">
        <img class="w-72 z-10" src="../../../assets/images/house_main.png" alt="">
        <img class="w-80 z-11 m-[-40px]" src="../../../assets/svg/components/plataforma.svg" alt="">
      </div>
    </div>
    <!-- powerby section -->
    <div class="flex flex-col w-full bg-[#FAFAFA] h-[177px] justify-center items-center gap-4">
      <section>Power By</section>
      <section class="flex flex-wrap mx-auto justify-center">
        <img class="h-8" src="../../../assets/images/power_by/10clouds.png" alt="">
        <img class="h-8" src="../../../assets/images/power_by/mapbox.png" alt="">
        <img class="h-8" src="../../../assets/images/power_by/opensea.png" alt="">
        <img class="h-8" src="../../../assets/images/power_by/stripe.png" alt="">
        <img class="h-8" src="../../../assets/images/power_by/binance.png" alt="">
      </section>
    </div>
    <!-- binkio_info section -->
    <div class="container h-max py-20 items-center justify-center max-w-full mx-auto my-12">
      <div class="container flex flex-wrap h-full mx-auto items-center justify-center gap-14 mb-16 max-md:flex-wrap-reverse">
        <div class="flex w-auto m-0 h-max justify-center pt-10 my-auto items-center">
          <img class="w-[260px]" src="../../../assets/images/binkio_info/binkio-card.png" alt="">
        </div>
        <div class="flex w-auto m-0 justify-center items-center bg-white">
          <div class="flex flex-col w-[400px] h-max mx-auto max-md:px-10">
            <section class="flex gap-2 items-center my-10 max-md:justify-center">
              <img src="../../../assets/svg/binkio_colofull.svg" alt="">
              <p class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Binkio Land</p>
            </section>
            <section class="max-md:text-center">
              <h1>
                <span class="text-lg font-semibold">
                  Que es?
                </span>
              </h1>
              <p class="text-lg">
                Tiene como objetivo la democratizacionde la inversion en tierra a traves de tecnologia. De tal forma que
                aquel que desee invertir aqui o en Chiconcuac pueda hacerlo.
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- aspects section -->
    <div class="container mx-auto my-20">
      <section class="flex flex-row justify-center items-center gap-4 mb-10 max-md:flex-col">
        <img src="../../../assets/svg/binkio_colofull.svg" alt="">
        <p class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white max-md:w-60 max-md:text-center">Aspectos Claves</p>
      </section>
      <div class="container flex flex-row w-full items-center justify-center p-10 gap-4 mx-auto">
        <div class="flex flex-wrap gap-4 justify-center items-center">
          <section class="flex flex-col text-center justify-center items-center w-56 gap-6">
            <div class="flex w-36 h-36 rounded-lg  bg-gray-50 justify-center items-center">
              <img src="../../../assets/svg/aspectos binkio/liquidacion.svg" alt="">
            </div>
            <span class="font-semibold text-lg">Liquidacion de Cryptos</span>
            <p class="text-[14px] text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere luctus libero, non malesuada nisi
              viverra a.
            </p>
          </section>
          <section class="flex flex-col text-center justify-center items-center w-56 gap-6">
            <div class="flex w-36 h-36 rounded-lg bg-gray-50 justify-center items-center">
              <img src="../../../assets/svg/aspectos binkio/moneda.svg" alt="">
            </div>
            <span class="font-semibold text-lg">Liquidacion de Cryptos</span>
            <p class="text-[14px] text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere luctus libero, non malesuada nisi
              viverra a.
            </p>
          </section>
          <section class="flex flex-col text-center justify-center items-center w-56 gap-6">
            <div class="flex w-36 h-36 rounded-lg  bg-gray-50 justify-center items-center">
              <img src="../../../assets/svg/aspectos binkio/credito.svg" alt="">
            </div>
            <span class="font-semibold text-lg">Liquidacion de Cryptos</span>
            <p class="text-[14px] text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere luctus libero, non malesuada nisi
              viverra a.
            </p>
          </section>
          <section class="flex flex-col text-center justify-center items-center w-56 gap-6">
            <div class="flex w-36 h-36 rounded-lg  bg-gray-50 justify-center items-center">
              <img src="../../../assets/svg/aspectos binkio/binkio_pay.svg" alt="">
            </div>
            <span class="font-semibold text-lg">Liquidacion de Cryptos</span>
            <p class="text-[14px] text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere luctus libero, non malesuada nisi
              viverra a.
            </p>
          </section>
        </div>
      </div>
    </div>
    <!-- testimonials section -->
    <section class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
          <div class="mx-auto max-w-screen-sm">
            <section class="flex flex-row justify-center items-center gap-4 mb-10">
              <img src="../../../assets/svg/binkio_colofull.svg" alt="">
              <p class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Testimonios</p>
            </section>
              <section class="flex flex-row">
                <p class="mb-8 font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
                  Escucha el Testimonio de las personas y como les esta llendo con
                  <span class="text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">Binkio</span>
                </p>
              </section>
          </div> 
          <div class="grid mb-8 lg:mb-12 lg:grid-cols-2">
              <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                  <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Speechless with how easy this was to integrate</h3>
                      <p class="my-4">"I recently got my hands on Flowbite Pro, and holy crap, I'm speechless with how easy this was to integrate within my application. Most templates are a pain, code is scattered, and near impossible to theme.</p>
                      <p class="my-4">Flowbite has code in one place and I'm not joking when I say it took me a matter of minutes to copy the code, customise it and integrate within a Laravel + Vue application.</p>
                      <p class="my-4">If you care for your time, I hands down would go with this."</p>
                  </blockquote>
                  <figcaption class="flex justify-center items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white text-left">
                          <div>Bonnie Green</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Developer at Open AI</div>
                      </div>
                  </figcaption>    
              </figure>
              <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                  <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Solid foundation for any project</h3>
                      <p class="my-4">"FlowBite provides a robust set of design tokens and components lgd on the popular Tailwind CSS framework. From the most used UI components like forms and navigation bars to the whole app screens designed both for desktop and mobile, this UI kit provides a solid foundation for any project.</p>
                      <p class="my-4">Designing with Figma components that can be easily translated to the utility classes of Tailwind CSS is a huge timesaver!"</p>
                  </blockquote>
                  <figcaption class="flex justify-center items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white text-left">
                          <div>Roberta Casas</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Lead designer at Dropbox</div>
                      </div>
                  </figcaption>    
              </figure>
              <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-b border-gray-200 lg:border-b-0 md:p-12 lg:border-r dark:bg-gray-800 dark:border-gray-700">
                  <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mindblowing workflow and variants</h3>
                      <p class="my-4">"As someone who mainly designs in the browser, I've been a casual user of Figma, but as soon as I saw and started playing with FlowBite my mind was 🤯.</p>
                      <p class="my-4">Everything is so well structured and simple to use (I've learnt so much about Figma by just using the toolkit).</p>
                      <p class="my-4">Aesthetically, the well designed components are beautiful and will undoubtedly level up your next application."</p>
                  </blockquote>
                  <figcaption class="flex justify-center items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white text-left">
                          <div>Jese Leos</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">Software Engineer at Facebook</div>
                      </div>
                  </figcaption>    
              </figure>
              <figure class="flex flex-col justify-center items-center p-8 text-center bg-gray-50 border-gray-200 md:p-12 dark:bg-gray-800 dark:border-gray-700">
                  <blockquote class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400">
                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Efficient Collaborating</h3>
                      <p class="my-4">"This is a very complex and beautiful set of elements. Under the hood it comes with the best things from 2 different worlds: Figma and Tailwind.</p>
                      <p class="my-4">You have many examples that can be used to create a fast prototype for your team."</p>
                  </blockquote>
                  <figcaption class="flex justify-center items-center space-x-3">
                      <img class="w-9 h-9 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png" alt="profile picture">
                      <div class="space-y-0.5 font-medium dark:text-white text-left">
                          <div>Joseph McFall</div>
                          <div class="text-sm font-light text-gray-500 dark:text-gray-400">CTO at Google</div>
                      </div>
                  </figcaption>    
              </figure>
          </div>
          <div class="text-center">
              <a href="#" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Show more...</a> 
          </div>
          </div>
    </section>
  </div>
  <!-- footer section -->
  <footer class="bottom-0 bg-white rounded-lg shadow dark:bg-gray-900">
    <div class="w-full container flex flex-col mx-auto p-4 md:px-6 md:py-8 max-md:justify-center max-md:items-center">
      <div class="sm:flex sm:items-center sm:justify-between">
        <a href="" class="flex items-center mb-4 sm:mb-0 max-md:justify-center max-md:mr-10">
          <img src="../../../assets/svg/binkio_colofull.svg" class="h-8 mr-3" alt="binkio Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Binkio</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href=""
          class="hover:underline">Binkio</a>. All Rights Reserved.</span>
    </div>
  </footer>